.hidden {
	display: none;
}

.middle {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.middlea {
	width: 400px;
	height: 400px;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}

.disabled:hover {
	cursor: no-drop;
}

.navitem:hover {
	cursor: pointer;
}

.content-header {
	padding-top: 0px;
}

th {
	text-align: center; 
}

.center-col{
	float: none;
	margin: 0 auto;
}

.no-spinner::-webkit-inner-spin-button, 
.no-spinner::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

/* Bootstrap modal */
.vertical-alignment-helper {
	display:table;
	height: 100%;
	width: 100%;
}
.vertical-align-center {
	/* To center vertically */
	display: table-cell;
	vertical-align: middle;
}
.modal-content {
	/* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
	width:inherit;
	height:inherit;
	/* To center horizontally */
	margin: 0 auto;
}